<br>
<div class="row">
  <div class="col-sm-1">
    <label for="providerId">Provider ID: </label>
  </div>
  <div class="col-sm-2">
    <input type="text" id="providerId" [(ngModel)]="providerId" class="form-control"
      [ngClass]="isProviderIdNotANumber  ? 'is-invalid' : ''">
    <div class="invalid-feedback" *ngIf="isProviderIdNotANumber">
      <div>
        Invalid Input
      </div>
    </div>
  </div>
  &nbsp;
  <div class="col-sm-6">
    <button class="btn btn-primary" (click)="retrieveServiceProviderData()"
      [disabled]="isProviderIdNotANumber">Retrieve</button>
  </div>
</div>
<br>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Provider ID</th>
        <th scope="col">Service Name</th>
        <th scope="col">Provider Name</th>
        <th scope="col">Begin Time</th>
        <th scope="col">End Time</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="serviceProviderData && serviceProviderData.length > 0; else nodata">
        <tr *ngFor="let data of serviceProviderData">
          <td>{{data.provider.providerId}}</td>
          <td>{{data.service.name}}</td>
          <td>{{data.provider.name}}</td>
          <td>{{data.beginTime}}</td>
          <td>{{data.endTime}}</td>
        </tr>
      </ng-container>

      <ng-template #nodata>
        <tr>
          <td colspan="5" style=" text-align: center;">No data to display</td>
        </tr>
      </ng-template>

    </tbody>
  </table>
</div>